.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #DDE1E7;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter);
  stroke: #4A4A4A;
}

.st2 {
  mask: url(#mask0_1_);
}

.st3 {
  fill: #3D2011;
}

.st4 {
  fill: #FCD7B8;
  stroke: #000000;
  stroke-width: 1.0195;
  stroke-miterlimit: 10;
}

.st5 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.0195;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st6 {
  fill: #61584F;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st7 {
  fill: #DDDFE2;
}
