$primary-color: #7600D5;

$primary-text-color: #FFFFFF;
$secondary-text-color: #5A5A5B;

$background-color: #DDE1E7;

$separator-color: #97999C;

$button-color: #1B39E2;

$item-not-selected: 3px 3px 5px -1px rgba(0, 0, 0, 0.219), -3px -3px 5px -1px rgba(255, 255, 255, 0.479);
$item-selected: 3px 3px 5px -1px rgba(255, 255, 255, 0.493), -3px -3px 5px -1px rgba(0, 0, 0, 0.219);