@use '../../styles/vars';

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$background-color;
  color: vars.$secondary-text-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

  &__profile {
    width: 95%;
  }

  &__header {
    letter-spacing: 0.05rem;
    text-align: center;
    background-color: vars.$primary-color;
    color: vars.$primary-text-color;
    padding: 10px 0px;
    border-radius: 5px 5px 0px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-color: vars.$primary-color;
    border-width: 0px 3px 3px 3px;
    border-radius: 0px 0px 5px 5px;
  }

  &__separator {
    display: block;
    width: 42%;
    height: 2px;
    background-color: vars.$separator-color;
  }

  &__button {
    background-color: vars.$button-color;
    color: vars.$primary-text-color;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.219),
    -3px -3px 5px -1px rgba(255, 255, 255, 1);
  }
}

@media only screen and (min-width: 768px) {
  .app {
    &__profile {
      width: 600px;
    }
  }
}