@use '../../styles/vars';

.avatars {
  display: flex;
  flex-direction: row;

    &__container {
      cursor: pointer;
      margin: 25px 20px 40px 20px;
      border-radius: 200px;
      box-shadow: vars.$item-not-selected;
      
      &--selected {
        box-shadow: vars.$item-selected;
      }
    }

    &__src {
      height: 130px;
    }
}

.skin {
  stroke: #000000;
  stroke-width: 1.0195;
  stroke-miterlimit: 10;
}

.hair {
  stroke: #000000;
  stroke-width: 1.0195;
  stroke-miterlimit: 10;
}

.clothe {
  stroke: #000000;
  stroke-width: 1.0195;
  stroke-miterlimit: 10;
}

.stripes {
  fill: #DDDFE2;
}
